:root {
  --bg-dark: hsl(240 9% 13%);
  --text: hsl(240 10% 94%);
  --bg-light: hsl(240 9% 26%);
  --text-muted: hsl(240 10% 24%);
  --primary: hsl(224 38% 55%);
  --secondary: hsl(224 38% 70%);
  --danger: hsl(0 75% 60%);
  --warning: hsl(23 100% 63%);
  --success: hsl(98 42% 42%);
}

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
}

.viewport {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.title, .body, .images, .score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.body {
  flex-direction: column;
}

.home, .away {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10vw;
  font-size: 24px;
}

.word {
  display: flex;
  margin: 16px;
}

.ascii {
  display: flex;
  flex-direction: column;
  white-space: pre;
  font-size: 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ascii p {
  font-weight: 900;
}

.body {
  margin: auto 0;
}

.images .ascii {
  font-size: 8px;
  color: var(--text-muted);
  margin: 64px;
}

.ascii.button:hover {
  color: var(--text);
}

.ascii.selected {
  color: var(--success);
}

.ascii.computer {
  color: var(--danger);
}

.selected.computer {
  color: var(--warning);
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 14px;
  height: 6rem;
  width: 100vw;
}

#footer p {
  margin: 4px 0;
}

@media (max-width: 540px) {
  .ascii {
    font-size: 6px;
  }

  .body {
    flex-direction: column;
  }
}
